.header {
    background-image: url("../img/image\ 3.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 12rem;
    background-position: right;
    text-align: left;
    margin-left: 5rem;
    margin-right: 5rem;
}

.text-background {
    background: rgba(255, 255, 255, 0.7);
    padding: 2rem;
}

button {
    margin: 1rem;
}