.App {
  background: #7842ef;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #85d8d9, #7842ef);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #85d8d9, #7842ef); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  height: 4rem;
  width: 100%;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background: rgba(255, 255, 255, 0.3);
}
.logo {
  height: 3.5rem;
  width: 3.5rem;
  background: url("https://images.financialexpress.com/2018/06/yahoo_messenger_small.jpg?w=1200&h=800&imflag=true");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 70%;
  border: 1px solid white;
  
}

.title {
  color: #7842ef;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 1rem;
}

/*Parent of the text box and button */
.footer {
  height: 4rem;
  width: 100%;
  border-top: 2px solid white;
  display: flex;
  align-items: center;
  padding: 0 .95rem;
  background: rgba(255, 255, 255, 0.3);
  position: relative;
}

/* text box */
.text-input {
  width: 100%;
  border: 1px solid white;
  height: 2rem;
  border-radius: 1rem;
  padding: 0 1rem;
  background: black;
  color: white;
}

/* send button */
.send {
  background: white;
  border-radius: 50%;
  border: none;
  height: 1.7rem;
  width: 1.7rem;
  position: absolute;
  right: 1.15rem;
  cursor: pointer;
  background-image: url("https://cdn.pixabay.com/photo/2018/02/04/01/54/paper-planes-3128885_960_720.png");
  background-size: cover;
}

/* Stylizes actual chat bubble*/
.chat-bubble {
  background: black;
  color: white;
  height: 3rem;
  width: max-content;
  text-align: left;
  border-radius: 1rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding: 1rem;
  position: relative;
}

/* Parent of the chat bubble*/
.chat-container {
  padding: 23rem 1rem;
  font-size: .75rem;
  position: absolute;
  margin-left: 1rem;
}

/* Puts triangle before chat bubble*/
.chat-bubble::before {
  content: '';
  position: absolute;
  left: 0;
  top: 40%;
  width: 0;
  height: 0;
  border: 1rem solid transparent;
  border-right-color: black;
  border-left: 0;
  margin-top: -.5rem;
  margin-left: -.5rem;
}

